# === IDE / macOS ===
.idea/            # IntelliJ / Zed
*.iml
.DS_Store
__MACOSX/

# === Build artefacts ===
/target/
build/
versions/
*.jar
*.class
*.log

# === Maven / Gradle wrappers ===
.mvn/wrapper/maven-wrapper.jar
.gradle/

# === Editors ===
.vscode/
